MONGODB_URI=mongodb+srv://Emama:N8F7kSlWoJpZ0bIk@cluster0.1czao7m.mongodb.net/roue_hasard?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
DEFAULT_ADMIN_NAME=djiby
DEFAULT_ADMIN_EMAIL=djiby@ibtikar-tech.com
DEFAULT_ADMIN_CODE=rh1234djiby
DEFAULT_USER_CODE=pinkbellezza
